@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../assets/fonts/Poppins-Regular.ttf') format('truetype')
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    font-family: 'Poppins-Regular', sans-serif;
}

div{
    padding: 0;
    margin: 0;
}